<!-- SECTION TYPIQUE POUR INTER-TITRE -->
<section class="inter-titre" style="background: url('img/inter-seiko.jpg')">
	<span>Les rêves mécaniques de Seiko</span>
</section>

<!-- SECTION TYPIQUE POUR LE TEXTE -->
<section>
	<div class="container">
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

	</div>
</section>

<!-- ENCART GAUCHE à L'INTéRIEUR D'UN PARAGRAPHE. DOIT ÊTRE DANS UNE SECTION -->
<div class="block-content left">
	<img class="zoom lazy" data-original="img/map.svg">
	<div class="caption"><b>DEVANT L'ANCIEN PONT À PÉAGE</b>, nous sommes rejoints par Franz Senn qui nous servira de guide</div>
</div>

<!-- ENCART DROIT à L'INTéRIEUR D'UN PARAGRAPHE. DOIT ÊTRE DANS UNE SECTION -->
<div class="block-content right">
	<img class="zoom lazy" data-original="img/map.svg">
	<div class="caption"><b>DEVANT L'ANCIEN PONT À PÉAGE</b>, nous sommes rejoints par Franz Senn qui nous servira de guide</div>
</div>

<!-- (EXPERIMENTAL) CITATION DROIT DANS UN PARAGRAPHE. DOIT ETRE DANS UNE SECTION -->
<blockquote class="right">
	<span>Autant te dire que les vis, d’habitude, je ne les attrape pas avec des brucelles...</span>
	<div class="caption"><b>OLIVIER WÜTHRICH</b>, mécanicien à La Chaux-de-Fonds</div>
</blockquote>

<!-- (EXPERIMENTAL) MéDAILLON GAUCHE. DOIT ETRE DANS UNE SECTION -->
<div class="block-content left medallion">
	<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
	<div class="caption"><b>LE SPIRAL</b> est le coeur du mouvement et donne vie à l'ensemble de la pièce</div>
</div>

<!-- PETITE IMAGE ENTRE 2 PARAGRAPHES -->
<section class="gallery small">
	<div class="layout">
		<img class="zoom lazy" data-original="img/seiko-1.jpg">
		<div class="caption">
			<b>VUE D’EXTÉRIEUR DE L’USINE DE PRODUCTION EPSON-SEIKO</b>, à Shiojiri dans la province de Nagano.
		</div>
	</div>
</section>

<!-- (A TESTER) MOYENNE IMAGE ENTRE 2 PARAGRAPHES -->
<section class="gallery medium">
	<div class="layout">
		<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
		<div class="caption">Un groupe de touriste chinois se prennent en photo au centre Sea World, un complexe composé d’appartements de luxe, d’un centre commercial et d’un célèbre bateau-restaurant.<br>
		<b>Crédit photo: </b>Clément Bürge</div>
	</div>
</section>

<!-- GRANDE IMAGE ENTRE 2 PARAGRAPHES -->
<section class="gallery big odd">
	<div class="layout">
		<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
		<div class="caption">
			<b>AU-DEHORS</b> tombe la neige. Une ambiance propice à un travail minutieux dans l'atelier
		</div>
	</div>
</section> 

<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
<section class="gallery hero">
	<div class="layout">
		<img class="zoom lazy" data-original="img/seiko-montre-1b.jpg">
		<div class="caption">
			Seiko Astron GPS 
		</div>
	</div>
</section>

<!-- 2 IMAGES CÔTE à CÔTE ENTRE 2 PARAGRAPHES -->
<section class="gallery double">
	<div class="layout">
		<div class="layout-inner">
			<img class="zoom lazy" data-original="img/seiko-5.jpg">
			<div class="caption">
				<b>UN EMPLOYÉ</b> de l’usine de production Epson-Seiko.
			</div>
		</div>
		<div class="layout-inner">
			<img class="zoom lazy" data-original="img/seiko-6.jpg">
			<div class="caption">
				<b>DES DIAMANTS</b> sont collés à un cadran.
			</div>
		</div>
	</div>
</section>

<!-- 2 GRAPHS CÔTE à CÔTE ENTRE 2 PARAGRAPHES -->
<section class="gallery double">
	<div class="layout">
		<h4 style="text-align: center;">Exportations de montres japonaises (Source: JCWA)</h4>
		<div class="layout-inner">
			<canvas id="myChart2"></canvas>
		</div>
		<div class="layout-inner">
			<canvas id="myChart"></canvas>
			<div class="trigger"></div>
		</div>
	</div>
</section>

<!-- 3 IMAGES CÔTE à CÔTE ENTRE 2 PARAGRAPHES -->
<section class="gallery triple id">
	<div class="layout">
		<div class="layout-inner">
			<div class="id-header">
				<img class="zoom lazy" data-original="img/portrait2.jpg" alt="">
				<h3 class="quote">«Notre but est aujourd’hui d’améliorer la valeur de la marque Seiko»</h3>
			</div>
			<div class="id-body">
				<div class="caption">
					<b>NOM:</b> Shinji Hattori<br>
					<b>MARQUE:</b> Seiko<br>
					<b>NOMBRE D'EMPLOYÉS EN 2015:</b> 13’437<br>
					<b>CHIFFRE D'AFFAIRES 2015:</b> 296,7 milliards de yens (environ 2,7 milliards de francs), dont 164,4 milliards dans les montres
				</div>
			</div>
		</div>
		<div class="layout-inner">
			<div class="id-header">
				<img class="zoom lazy" data-original="img/portrait3.jpg" alt="">
				<h3 class="quote">«Avec la seule marque Citizen, nous ne pouvions pas satisfaire tous nos clients»</h3>
			</div>
			<div class="id-body">
				<div class="caption">
					<b>NOM:</b> Toshio Tokura<br>
					<b>MARQUE:</b> Citizen<br>
					<b>NOMBRE D'EMPLOYÉS EN 2015:</b> 19’173<br>
					<b>CHIFFRE D'AFFAIRES 2015:</b> 348,2 milliards de yens (3,2 milliards de francs), dont 181,2 milliards dans les montres
				</div>
			</div>
		</div>
		<div class="layout-inner">
			<div class="id-header">
				<img class="zoom lazy" data-original="img/portrait1.jpg" alt="">
				<h3 class="quote">«Les montres électroniques, c’est le coeur de notre société, ce que nous voulons faire»</h3>
			</div>
			<div class="id-body">
				<div class="caption">
					<b>NOM:</b> Yuichi Masuda<br>
					<b>MARQUE:</b> Casio<br>
					<b>NOMBRE D'EMPLOYÉS EN 2015:</b> 11’322<br>
					<b>CHIFFRE D'AFFAIRES 2015:</b> 352 milliards de yens (environ 3,3 milliards de francs), dont 176 milliards dans les montres
				</div>
			</div>
		</div>
	</div>
</section>

<!-- SLIDER D'IMAGES -->
<section class="gallery slider padding-bottom">
	<div class="layout">			
		<div class="owl">
			<div class="owl-img-wrapper">
				<img class="lazyOwl" data-src="img/lazy-placeholder.jpg">
			</div>
			<div class="owl-img-wrapper">
				<img class="lazyOwl" data-src="img/lazy-placeholder.jpg">
			</div>
			<div class="owl-img-wrapper">
				<img class="lazyOwl" data-src="img/lazy-placeholder.jpg">
			</div>
			<div class="owl-img-wrapper">
				<img class="lazyOwl" data-src="img/lazy-placeholder.jpg">
			</div>
			<div class="owl-img-wrapper">
				<img class="lazyOwl" data-src="img/lazy-placeholder.jpg">
			</div>
			<div class="owl-img-wrapper">
				<img class="lazyOwl" data-src="img/lazy-placeholder.jpg">
			</div>
			<div class="owl-img-wrapper">
				<img class="lazyOwl" data-src="img/lazy-placeholder.jpg">
			</div>
		</div>
	</div>
</section>

<!-- SECTION VIDEO -->
<section class="video odd">
	<div class="video-wrapper">
		<div class="trigger"></div>
		<video controls poster="img/poster-gshock.jpg">
		  <source src="https://player.vimeo.com/external/175362190.hd.mp4?s=be40ac48b9dcfa875b341bb80467a356c2fbaaf7&profile_id=119" type="video/mp4">
		  Votre navigateur ne supporte pas les vidéos HTML%.
		</video>
	</div>
</section>

<!-- VIDEO EN ENCART DANS UN PARAGRAPHE -->
<div class="block-content right">
	<div class="video-wrapper">
		<div class="trigger"></div>
		<video controls poster="img/poster-gshock.jpg">
		  <source src="https://player.vimeo.com/external/175362190.hd.mp4?s=be40ac48b9dcfa875b341bb80467a356c2fbaaf7&profile_id=119" type="video/mp4">
		  Votre navigateur ne supporte pas les vidéos HTML%.
		</video>
	</div>
	<div class="caption"><b>INCASSABLE, LA G-SCHOCK?<br></b>Notre journaliste a testé la solidité de cette montre Casio.</div>
</div>

<!-- TIMELINE -->
<section class="chrono padding-bottom">

	<div class="container">
		<h3>GOTHARD: Les dates clés</h3>
	</div>

	<div class="container special">
		<div class="cd-horizontal-timeline">
			<div class="timeline">
				<div class="events-wrapper">
					<div class="events">
						<ol>
							<li><a href="#0" data-date="01/01/1975" class="selected">1882</a></li>
							<li><a href="#0" data-date="01/01/1980">1947</a></li>
							<li><a href="#0" data-date="01/01/1985">1963</a></li>
							<li><a href="#0" data-date="01/01/1989">1989</a></li>
							<li><a href="#0" data-date="01/01/1992">1992</a></li>
							<li><a href="#0" data-date="01/01/1995">1995</a></li>
							<li><a href="#0" data-date="01/01/1996">1996</a></li>

							<li><a href="#0" data-date="01/01/1998">1998</a></li>
							<li><a href="#0" data-date="01/01/1999">1999</a></li>
							<li><a href="#0" data-date="01/01/2002">2002</a></li>
							<li><a href="#0" data-date="01/01/2007">2007</a></li>
							<li><a href="#0" data-date="01/01/2010">2010</a></li>
							<li><a href="#0" data-date="01/01/2016">2016</a></li>
							<li><a href="#0" data-date="01/01/2020">2020</a></li>
						</ol>
						<span class="filling-line" aria-hidden="true"></span>
					</div> 
				</div> 

				<ul class="cd-timeline-navigation">
					<li><a href="#0" class="prev inactive">Prev</a></li>
					<li><a href="#0" class="next">Next</a></li>
				</ul> 
			</div> 

			<div class="events-content">
				<ol>
					<li class="selected" data-date="01/01/1975">
                        <h4>Ouverture du tunnel de faîte du Saint-Gothard</h4>
					</li>
					
					<li data-date="01/01/1980">
                        <h4>Premiers projets d’un tunnel de base entre Amsteg et Bodio</h4>
					</li>

					<li data-date="01/01/1985">
                        <h4>La commission «Tunnel ferroviaire à travers les Alpes» examine des variantes</h4>
					</li>

					<li data-date="01/01/1989">
                        <h4>Le Conseil fédéral opte pour la variante réseau: des tunnels de base pour le Lötschberg et le Saint-Gothard/Ceneri</h4>
					</li>

					<li data-date="01/01/1992">
                        <h4>Le peuple accepte le projet «Nouvelle ligne ferroviaire à travers les Alpes» (NLFA)</h4>
					</li>

					<li data-date="01/01/1995">
                        <h4>Le tracé du tunnel de base du Saint-Gothard (TBG) est défini</h4>
					</li>

					<li data-date="01/01/1996">
                        <h4>Premiers préparatifs à Sedrun</h4>
					</li>

					<li data-date="01/01/1998">
                        <h4>Le peuple accepte la redevance sur le trafic des poids lourds liée aux prestations (RPLP) et le projet de modernisation du rail (FTP)</h4>
					</li>

					<li data-date="01/01/1999">
                        <h4>Début du percement principal du TBG</h4>
					</li>

					<li data-date="01/01/2002">
                        <h4>Le premier tunnelier entre en action dans le TBG</h4>
					</li>

					<li data-date="01/01/2007">
                        <h4>Ouverture du tunnel de base du Lötschberg</h4>
					</li>

					<li data-date="01/01/2010">
                        <h4>Jonction principale dans le TBG</h4>
					</li>

					<li data-date="01/01/2016">
                        <h4>Ouverture du TBG</h4>
					</li>

					<li data-date="01/01/2020">
                        <h4>Ouverture prévue du tunnel de base du Ceneri</h4>
					</li>
				</ol>
			</div> 
		</div>
	</div>
</section>

<!-- POUR LES CONTENUS EN PLUS QUE L'ON NE SAIT PAS OU PLACER -->
<section class="encart">
	<div class="container">

		<h3>Masahiro Kikuno, horloger-samouraï</h3>
		
		<h4>Dans le monde des horlogers japonais, Masahiro Kikuno, 33 ans, fait figure d’ovni. Bien loin des préoccupations de croissance des multinationales, il conçoit des montres en exploitant les techniques horlogères ancestrales.</h4>

		<p>
			Vêtu d’un kimono brun clair, Masahiro Kikuno saisit un chalumeau, chauffe un petit morceau de métal carré, puis tape dessus avec un marteau. «Je veux l’aplatir le plus possible», dit-il en grinçant des dents. Il s’agit de mokume-gane, un type de métal traditionnellement utilisé pour décorer le manche des sabres des samouraïs. L'homme au visage rond soulève soigneusement le précieux artifice et l’amène dans son minuscule studio, situé au rez-de-chaussée de sa maisonnette dans la banlieue de Tokyo. Il l’installera plus tard sur le cadran d’un de ses garde-temps.
		</p>				

		<p>
			Sa montre wadokei, qu’il a développée en 2015, est son chef-d’oeuvre. «Elle s’inspire des garde-temps traditionnels japonais, qui divisent le jour et la nuit en six portions égales», explique l’horloger, assis à sa table de travail recouverte de minuscules outils. «Ce système a été utilisé au Japon entre le XVIe siècle et 1872, quand le calendrier grégorien et le système chronologique ont été introduits.»
		</p>

		<p>
			Résultat: les chiffres romains de sa montre couleur cuivre ont été remplacés par des caractères japonais qui correspondent aux heures du jour et de la nuit. Ceux-ci changent d’emplacement en fonction des saisons, quand les jours se raccourcissent ou se rallongent. «C’est une montre très complexe, dit-il de sa voix calme. Je n’arrive à en fabriquer qu’une seule par année.» Son prix: 145’000 francs.
		</p>

	</div>
</section>

<!-- PERMET DE BALANCER DES CHIFFRES EN GROS, POSSIBILITES D'ANIMATION -->
<section class="numbers padding-bottom">
	<div class="container">
		<h3 class="inter-titre">Quelques chiffres</h3>
		<div class="tiers">
			<h1><i>250</i><span>loups environ dans les Alpes en 2016</span></h1>
		</div>
		<div class="tiers">
			<h1><i>300</i><span>km2 de territoire par meute dans les Alpes</span></h1>
		</div>
		<div class="tiers">
			<h1><i>25</i><span>bêtes vivaient en Suisse en 2015 selon le WWF</span></h1>
		</div>
		<div class="tiers">
			<h1><i>16</i><span>loups dans la meute du Calanda en 2016</span></h1>
		</div>
		<div class="tiers">
			<h1><i>18</i><span>animaux de rente attaqués par les loups entre 2001 et 2015</span></h1>
		</div>
		<div class="tiers">
			<h1><i>1500</i><span>ovins paissent dans les alpages grisons</span></h1>
		</div>
	</div>
</section>