@charset "UTF-8"; 
//=====================================================================//
// COLORS
//=====================================================================//
$black:#000;
$white:#fff;
$twitter:#00aced; 
$facebook:#3d5a98;    
 
$red-lt: #b80021;
$red-lt-darker: #930025;

$gray: #212121; 
$gray-dark: #3d4c4f; 
$gray-dark-dark: #273032;

$blue-fr: #0071bc;
$red-fr: #d63220;

$flash1: #7ac943;
$flash2: #3fa9f5;
$flash3: #f7ae71;

//=====================================================================//
// FONTS
//=====================================================================//

// headings
//@include font-face("ratio_light", "../fonts/ratio_light", $file-formats: eot woff ttf svg); 
//@include font-face("ratio_reg", "../fonts/ratio_reg", $file-formats: eot woff ttf svg); 
  //@include font-face("ratio_medium", "../fonts/ratio_medium", $file-formats: eot woff ttf svg); 
  //@include font-face("ratio_bold", "../fonts/ratio_bold", $file-formats: eot woff ttf svg); 

// paragraphs
  //@include font-face("rooney_light", "../fonts/rooney_light", $file-formats: eot woff ttf svg); 
//@include font-face("rooney_medium", "../fonts/rooney_medium", $file-formats: eot woff ttf svg); 
  //@include font-face("rooney_bold", "../fonts/rooney_bold", $file-formats: eot woff ttf svg); 

$light: 100;
$regular: 400;
$bold: 600;

//=====================================================================//
// TRANSITIONS
//=====================================================================//
$transition-speed:0.3s;
$bezier:cubic-bezier(0.455, 0.03, 0.515, 0.955);

//=====================================================================//
// DISTANCES
//=====================================================================//
$columnW: 700px;

//=====================================================================//
// Z-INDEX
//=====================================================================//
$zHeader: 100;
$zOverlay: 200;
$zModal: 300;


//=====================================================================//
// MORE MIXINS
//=====================================================================//
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 500px) { @content; }
  }
 
  @else if $class == sm {
    @media (max-width: 768px) { @content; } 
  }
 
  @else if $class == md {
    @media (max-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (max-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

html { background: #273032; color: #222; font-size: 15px !important; line-height: 1.4; height: 100%; overflow-x: hidden; 
    @media screen and (max-width: 320px) {
        font-size: 13px !important;
    }
}
body 
{ 
    height: 100%; background: #273032;
}

img { display:block; width: 100%; } 

h1 //titres detail
{
    font-family: 'Oswald', serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    font-size: 4rem;
    color: $white;
    margin-bottom: 0.5rem;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    //text-shadow: rgba(0, 0, 0, 0.6) 0 1px 8px, rgba(0, 0, 0, 0.6) 0px 0px 1px;
    //background: $red-fr;   
    display: inline-block;
    //padding: 0.5rem 1rem;

    @include breakpoint(xs) {   
      font-size: 2.5rem;
    }
}

h2 //titres cartes
{
    font-family: 'Source Serif Pro', serif; 
    color: lighten($black, 25%);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;  

    span 
    {
      font-size: 0.9rem;
      text-transform: uppercase;

    }

    @include breakpoint(xs) {   
      font-size: 1.5rem;
    }
    
}

h3 //titre filtre
{
    font-family: 'Oswald';
    text-transform: uppercase;
    color: $white;
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 1;
    margin-bottom: 1rem;
    padding: 0 20px;
    opacity: 0.7;
}

h4 //type filtre
{
    font-family: 'Helvetica', 'Arial', 'sans serif';
    color: lighten($black, 65%);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    padding: 0 20px;

    span 
    {
      float: right;
      //color: #930025;
      cursor: pointer;
      display: none;
      //color: $flash1;
    }
}

h5 //thème de carte
{
  font-family: 'Source Serif pro';
  border-bottom: 1px solid darken($white, 8%);
  font-size: 1rem;
  color: darken($white, 30%);
  font-style: italic;
  text-align: center;
  padding-bottom: 2rem;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

h6 
{
    font-family: 'Poppins';
    text-shadow: rgba(0, 0, 0, 0.6) 0 1px 8px, rgba(0, 0, 0, 0.6) 0px 0px 1px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: lighter;
    color: $white;

    span 
    {
      font-weight: 600;
    }
}

p 
{
    font-size: 1rem;
    line-height: 1.6;
    margin: 0.85rem 0 1.5rem 0;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;

    span
    {
      @extend h6;
      display: block;
      font-family: 'Source Serif pro';
      text-align: left;
      margin: 2.5rem 0 1.5rem 0;
      text-shadow: none;
      color: $flash2;
      font-weight: 900 !important;
      font-size: 2rem;
    }
}

a 
{
    text-decoration: none;
    color: $flash2;
}

blockquote
{
    &:before 
    {
        color: #ccc;
        content: open-quote;
        font-size: 60px;
        line-height: 0.1em;
        margin-right: 0;
        vertical-align: -5px;
        color: $red-lt-darker;        
    }

    &:after 
    {
        color: #ccc;
        content: close-quote;
        font-size: 60px;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -5px;
        color: $red-lt-darker;
    }
}

hr 
{
    background: $red-lt-darker;
    height: 4px !important;
    width: 150px;
    border-radius: 3px;
}


