div.reader
{
	position: absolute;
	z-index: 2;
	//width: calc(100% - 200px);
	width: 600px;
	min-height: calc(100% - 57px);
	background: rgba(250, 250, 250, 1);
	top: 57px;
	right: 0;
	@include transform(translateX(100%));
	@include transition(all, 0.3s);
	-webkit-overflow-scrolling: touch;
	display: none;


	@include breakpoint(xs) {   
		width: 100%;
		top: 40px;
		min-height: calc(100% - 40px);
		z-index: 7;
    }

	//left: 300px;
	//left: 100%;

	&.is-visible
	{
		@include transform(translateX(0));
		@include transition(all, 0.3s);
	}

	div.visualisator
	{
		opacity: 0;
		@include transition(all, 0.3s);

		div.visualisator-header
		{
			height: 400px;
			background-position: center center !important;
			background-size: cover !important;
			position: relative;

			div.visualisator-header-box
			{
				position: absolute;
				bottom: 0;
				width: 100%;
				
				//background: red;
				padding: 0 4rem;
				//@include transform(translateY(-50%));

				@include breakpoint(xs) {   
					padding: 2rem;
			    }


				h5 
				{
					color: darken($white, 15%);
					text-align: left;
					font-size: 1.5rem;
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: 2rem;
					text-shadow: rgba(0, 0, 0, 0.6) 0 1px 8px, rgba(0, 0, 0, 0.6) 0px 0px 1px;
				}
				
			}
		}

		div.visualisator-body
		{
			padding: 4rem;

			@include breakpoint(xs) {   
				padding: 2rem;
		    }

			h2
			{
				text-align: left;
				// font-weight: normal;
				padding: 0;
				// color: lighten($black, 40%);
				// margin-bottom: 1rem;



			}

			h2.pratique
			{
				font-family: 'Poppins';
				text-align: left;
				font-weight: normal;
				padding: 0;
				margin-bottom: 2rem;
				font-size: 1.3rem;
				line-height: 1.8rem;
				color: $blue-fr;

				@include breakpoint(xs) {   
					margin-bottom: 4rem;
			    }
			}

			.btn 
			{
				display: table;
				padding: 16px 20px 14px 20px;
				color: $white;
				background: #0071bc;
				//margin: auto;
				margin-top: 2em;
				font-size: 1.2rem;
				line-height: 1.3;
				border: 3px solid $white;
				font-family: 'Poppins';
				cursor: pointer;
				text-transform: uppercase;

				@include breakpoint(xs) {   
			       font-size: 1.175em;
			    }

				&:hover 
				{
					background: lighten($blue-fr, 5%);
					//background: $red-fr;
				}
			}
		}
		h1.titrebonsplans { text-shadow: none; text-align: left; padding: 3rem 4rem 0 4rem; background: $flash3; margin-bottom: -25px; @include breakpoint(xs) { padding: 2rem } }
		div.visualisator-footer
		{
			padding: 4rem;
			background: $flash3;
			overflow: auto;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;

			@include breakpoint(xs) {   
					padding: 2rem;
			    }

			div.bonplan
			{
				width: 30%;
				float: left; 
				margin-bottom: 2rem;
				margin-right: 3%;
				//padding: 4rem 0 0 4rem;

				@include breakpoint(xs) {   
					width: 100%;
			    }

				h2
				{
					font-family: 'Poppins';
					text-align: left;
					padding: 0;
				}

				p 
				{
					font-size: 1rem;
				}
			}
		}
	}
}

aside
{
	@include transition(all 0.3s);
	@include transform(translateX(-100%));
	width: 255px;
	height: 100%;
	float: left;
	background: $gray-dark-dark;
	// background-image: url('../img/bg.png');
 //    background-position: center center;
 //    background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding: calc(57px + 3rem) 0 1rem 0;
	z-index: 1;

	@include breakpoint(xs) {   
        @include transform(translateX(-100%));
        z-index: 5;
        padding: calc(40px + 2rem) 0 1rem 0;

        &.is-open
	    {
			@include transform(translateX(0));
			@include transition(all 0.3s); 
	    }  

	    h3 
	    {
	    	display: none;
	    }
    }

    
}

div.content
{
	width: 100%;
	min-height: 100% !important;
	position: absolute;
	overflow-x: hidden;
	//width: calc(100% - 300px);
	background: transparent;
	//background: darken($white, 8%);
	//background: transparent;
	top: 0;
	right: 0;
	//float: right;
	padding: calc(57px + 2rem) 2rem 2rem calc(255px + 2rem); 
	-webkit-overflow-scrolling: touch;

	@include breakpoint(xs) {   
        padding: calc(40px + 2rem) 2rem 2rem 2rem; 
    }



	// background-image: url(../img/overlay-bg2.jpg);
	// background-size: cover;
	// background-position: center center;
}

div.bg 
{
	width: 100%;
	min-height: 100% !important;
	position: fixed;
	background-image: url(../img/overlay-bg3.jpg);
	background-size: cover;
	background-position: center center;
}
