{% use '_blocks.html.twig' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {{ block('head_brand') }}
        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/app.min.css?1457325527" />
        <link rel="stylesheet" type="text/css" href="css/custom.css"/>
    </head>
    <body>
        {{ block('bar_brand') }}
        <div class="section">
            <div class="slide  start dark-overlay" data-anchor="1" id="slide-1"  data-bgimage="0.jpg" >
                <div class="text full-block">
                    <div class="full-block-cell full-block-cell-title">
                        <div class="full-block-content">
                            <!-- <div class="look-branding">
                                <img src="http://labs.letemps.ch/interactive/2016/shenzhen/img/logo-lt-blanc.svg">
                                <hr>
                            </div> -->
                            <h1>SYRIE</h1>
                            <h2><b><br>2011-2016.</b> Cinq ans dans l'enfer de la guerre
                            </h2>
                            <h3>  </h3>
                            <button class="btn btn-go">COMMENCEZ</button>
                        </div>
                        <!--full-block-content-->
                    </div>
                    <!--full-block-cell-->
                </div>
                <!--full-block-->
            </div>
            <!--slide-->
            <div class="slide  side-by-side dark-overlay" data-anchor="2" id="slide-2"  data-bgimage="2.jpg" >
                <div class="text full-block">
                    <div class="full-block-cell">
                        <div class="full-block-content">
                            <div class="side-by-side-wrapper">
                                <div class="first-side">
                                    <img class="lazy-load" data-src="syrie.png" alt="COPY.content.1.caption [column does not exist in sheet]">
                                </div>
                                <div class="second-side">
                                    <p>En Syrie, plus de 260 000 personnes ont perdu la vie depuis 2011.</p>
                                    <p>La moitié de la population du pays a fui... </p>
                                </div>
                            </div>
                        </div>
                        <!--full-block-content-->
                        <div class="credit">
                        </div>
                    </div>
                    <!--full-block-cell-->
                </div>
                <!--full-block-->
            </div>
            <!--slide-->
            <div class="slide  full-bleed" data-anchor="2" id="slide-2" data-bgimage="_24_07_louane_di24_bsoula11.jpg">
                <div class="text full-block">
                    <div class="full-block-cell">
                        <div class="full-block-content">
                            <div class="subtitle bleed-box">
                                <p>24 juillet 2016</p>
                                <p><span style="font-family: 'Oswald', sans-serif; font-size: 55px; line-height: 60px;">Dimanche, une fin avec les idoles</span></p>
                                    <span style="font-family: 'Oswald', sans-serif;"> 
                                        <p><span style="background-color: rgba(41, 38, 38, 0.75);"> Petits et grands ont profité de la dernière soirée du festival en toute quiétude et sous une chaleur écrasante. La palette de Paléo a pu contenter les juniors avec Louane, les moins jeunes grâce à Michel Polnareff.</span></p>
                                        <br><br><br>
                            </div>
                        </div>
                            
                            
                            <!--full-block-content-->
                            <div class="credit">
                                © Paléo / Boris Soula
                            </div>
                    </div>
                        <!--full-block-cell-->
                </div>
                    <!--full-block-->
            </div>
        <!--slide-->
            <div class="slide full-bleed" data-anchor="5" id="slide-5" data-bgimage="2ter.jpg">
                <div class="text full-block">
                    <div class="full-block-cell">
                        <div class="full-block-content">
                            <div class="subtitle bleed-box">
                                <p><span style="background-color: rgba(0, 0, 0, 0.3);">«Oubliez vos enfants et allez retrouver vos femmes. Elles vous en donneront d'autres.»</span></p>
                            </div>
                        </div>
                        <!--full-block-content-->
                        <div class="credit">
                        </div>
                    </div>
                    <!--full-block-cell-->
                </div>
                <!--full-block-->
            </div>
            <!--slide-->
            <div class="slide  full-bleed" data-anchor="57" id="slide-57"  data-bgimage="600.jpg" >
                <div class="text full-block">
                    <div class="full-block-cell">
                        <div class="full-block-content">
                            <div class="subtitle bleed-box">
                                <p><span style="background-color: rgba(0, 0, 0, 0.3);">Aucune solution de paix n'est encore d'actualité aujourd'hui.</p>
                                </span>
                            </div>
                        </div>
                        <!--full-block-content-->
                        <div class="credit">
                        </div>
                    </div>
                    <!--full-block-cell-->
                </div>
                <!--full-block-->
            </div>
        <!--slide-->   
            <div class="credit">
                <div class="slide  full-bleed dark-overlay" data-anchor="60" id="slide-60"  data-bgimage="600.jpg" >
                    <div class="text full-block">
                        <div class="full-block-cell">
                            <div class="full-block-content">
                                <div class="subtitle bleed-box">
                                    <br>
                                    <h2>Crédits</h2>
                                    <p>
                                        Photo: Reuters, AFP, Keystone, AP, SANA Agency<br>
                                        Textes et légendes: Catherine Frammery et Etienne Dubui<br>
                                        Iconographie: Marc Sauser-Hall et Véronique Bottero<br>
                                        Réalisation: Jean Abbiatec<br>
                                        Code: <a href="http://www.github.com/nprapps/barkedu" target="_blank">NPR-Apps</a> / Licence MIT
                                    </p>
                                </div>
                            </div>
                            <!--full-block-content-->
                        </div>
                        <!--full-block-cell-->
                    </div>
                    <!--full-block-->
                </div>
                <!--slide-->
            </div>

            <div class="primary-navigation" style="opacity:1;">
                <div class="controlArrow prev"></div>
                <div class="controlArrow next"></div>
            </div>
        
            <div id="narrative-player"></div>
            <div id="ambient-player"></div>
            <div class="progress-indicator">
                <div class="current-progress"></div>
            </div>
        </div>
        
        
        <!-- / #share-modal -->
        <script type="text/javascript" src="js/app1.js"></script>
    </body>
</html>
{{ block('footer_brand') }}